.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.spinner {
    -fx-base: #565656;
}

.increment-arrow {
    -fx-background-color: white;
}

.decrement-arrow {
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: #565656 ;
}

.text-field {
    -fx-background-color: #565656 ;
    -fx-text-inner-color: white;
}

.label {
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu .label{
    -fx-text-fill: white;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: #565656 ;
}

.menu, .menu-item, .context-menu, .combo-box, .list-cell {
    -fx-background-color: #565656 ;
    -fx-text-fill: white;
}

.menu-item:hover, .list-cell:hover  {
    -fx-background-color: #333333 ;
}

.split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: white;
    -fx-background-insets: 10;
}

.tab-pane .tab {
    -fx-padding: 0.0 5.0 0.0 5.0;
    -fx-background-color: #d3d3d3;
}

.tab .tab-label {
    -fx-text-fill: #565656;
}

.tab-pane .tab:selected {
    -fx-padding: 3.0 5.0 3.0 5.0;
    -fx-background-color: #333333;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #565656;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #333333;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-border-color: white;
    -fx-border-width: 0.5 0.5 0 0.5;
}

