.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.separator *.line #sub {
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.spinner {
    -fx-base: #565656;
}

.increment-arrow {
    -fx-background-color: white;
}

.decrement-arrow {
    -fx-background-color: white;
}

.text-field {
    -fx-background-color: #565656 ;
}

.text-field {
    -fx-background-color: #565656 ;
    -fx-text-inner-color: white;
}

.label {
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu .label{
    -fx-text-fill: white;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: #565656 ;
}

.menu, .menu-item, .context-menu, .combo-box, .list-cell {
    -fx-background-color: #565656 ;
    -fx-text-fill: white;
}

.menu-item:hover, .list-cell:hover  {
    -fx-background-color: #333333 ;
}

.split-pane-divider {
    -fx-padding: 0 0.5 0 0.5;
    -fx-background-color: transparent;
    -fx-background-insets: 10;
}

.tab-pane .tab {
    -fx-padding: 0.0 5.0 0.0 5.0;
    -fx-background-color: #565656;
}

.tab .tab-label {
    -fx-text-fill: #d3d3d3;
}

.tab-pane .tab:selected {
    -fx-padding: 3.0 5.0 3.0 5.0;
    -fx-background-color: #333333;
}

.tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #565656;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tree-view .tree-cell {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff ;
}

.tree-view .tree-cell:selected {
    -fx-background-color: lightgrey;
}

.tree-view .tree-cell:selected {
    -fx-text-fill: #333333 ;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: #ffffff;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: #ffffff;
}

/*for the corner of the scrollpane containing the treeview*/
.tree-view > .virtual-flow > .corner{
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #333333;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.combo-box-base {
    -fx-background-color: #333333;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.combo-box-popup .list-cell {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

.combo-box-popup .list-view {
    -fx-background-color: #333333;
}


